footer{
    width: 100%;
    background-color: rgb(244, 244, 244);
    padding: 2% 0 4% 0;
}

footer > p{
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

footer > p > a > img{
    width: 100px;
}

footer > p > a > img:hover{
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}