@media screen and (max-width: 991px) {

    nav{
        justify-content: space-between;
        flex-direction: column;
    }

    header > h1 {
        font-size: 2rem;
    }

    main{
        height: 100%;
        padding: 0;
        width: 100%;
    }

    .card{
        width: 100%;
    }

    #formulario{
        width: 80vw;
        padding-bottom: 50px;
    }

    footer{
        padding: 50px;
        height: 100%;
    }
}