@media screen and (max-width: 991px) {

    nav{
        justify-content: space-between;
        flex-direction: column;
    }

    header h1{
        width: 90vw;
    }

    main{
        height: 100%;
        width: 100%;
    }

    main section:first-child{
        margin: 2vh; 
    }

    .card{
        width: 100%;
    }

    #formulario{
        width: 80vw;
        padding-bottom: 50px;   
    }

    footer{
        padding: 50px;
        height: 100%;
    }
}